In [85]:
import numpy as np
import pandas as pd
import sklearn as sk
import scipy as sc

In [86]:
import matplotlib.pyplot as plt

In [87]:
data = pd.read_csv('CarPrice_Assignment.csv')

In [88]:
data

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [89]:
data.CarName.unique

<bound method Series.unique of 0            alfa-romero giulia
1           alfa-romero stelvio
2      alfa-romero Quadrifoglio
3                   audi 100 ls
4                    audi 100ls
                 ...
200             volvo 145e (sw)
201                 volvo 144ea
202                 volvo 244dl
203                   volvo 246
204                 volvo 264gl
Name: CarName, Length: 205, dtype: object>

In [90]:
data.drop('CarName',axis=1, inplace=True)

In [121]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   fueltype          205 non-null    int64
 3   aspiration        205 non-null    int64
 4   doornumber        205 non-null    int32
 5   carbody           205 non-null    int8
 6   drivewheel        205 non-null    int32
 7   enginelocation    205 non-null    int64
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    int32
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    int32
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
dtypes: float64(8), int32(4), int64(11), int8(1), object(1)
memory usage: 35.6+ KB

In [92]:
data.fueltype.unique()

array(['gas', 'diesel'], dtype=object)

In [93]:
fueltype_map = {
    'gas': 0,
    'diesel': 1
}

data.fueltype = data.fueltype.map(fueltype_map)

In [94]:
data

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,0,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,0,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,0,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,0,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,0,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,0,std,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,0,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,0,std,four,sedan,rwd,front,109.1,188.8,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,1,turbo,four,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,0,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [95]:
data.aspiration.unique

<bound method Series.unique of 0        std
1        std
2        std
3        std
4        std
       ...
200      std
201    turbo
202      std
203    turbo
204    turbo
Name: aspiration, Length: 205, dtype: object>

In [96]:
data.aspiration.unique()

array(['std', 'turbo'], dtype=object)

In [97]:
aspiration_mapper = {
    'std': 0,
    'turbo': 1
}

data.aspiration = data.aspiration.map(aspiration_mapper)

data

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,0,0,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,0,0,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,0,0,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,0,0,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,0,0,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,0,0,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,0,1,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,0,0,four,sedan,rwd,front,109.1,188.8,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,1,1,four,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,0,1,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [98]:
data.doornumber.unique()

array(['two', 'four'], dtype=object)

In [99]:
from sklearn.preprocessing import OneHotEncoder

In [100]:
from sklearn.preprocessing import LabelEncoder

enc = LabelEncoder()
data['doornumber'] = enc.fit_transform(data.doornumber)
data.head()

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,0,0,1,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,0,0,1,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,0,0,1,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,0,0,0,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,0,0,0,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [101]:
data.carbody.unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [102]:
data.carbody = data.carbody.astype('category')
data.carbody = data.carbody.cat.codes

In [103]:
data.head()

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,0,0,1,0,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,0,0,1,0,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,0,0,1,2,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,0,0,0,3,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,0,0,0,3,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [104]:
data.drivewheel.unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [105]:
from sklearn.preprocessing import LabelBinarizer
enc = LabelBinarizer()
data['drivewheel'] = enc.fit_transform(data['drivewheel'])

data.head()

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,0,0,1,0,0,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,0,0,1,0,0,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,0,0,1,2,0,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,0,0,0,3,0,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,0,0,0,3,1,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [106]:
data.enginelocation.unique(

)

array(['front', 'rear'], dtype=object)

In [107]:
data_enginelocation_map = {
    'front': 0,
    'rear': 1
}

data['enginelocation'] = data.enginelocation.map(data_enginelocation_map)

In [108]:
data.fuelsystem.unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

In [115]:
from sklearn.preprocessing import LabelBinarizer
enc = LabelBinarizer()
data.fuelsystem = enc.fit_transform(data.fuelsystem)

In [122]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   fueltype          205 non-null    int64
 3   aspiration        205 non-null    int64
 4   doornumber        205 non-null    int32
 5   carbody           205 non-null    int8
 6   drivewheel        205 non-null    int32
 7   enginelocation    205 non-null    int64
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    int32
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    int32
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
dtypes: float64(8), int32(4), int64(11), int8(1), object(1)
memory usage: 35.6+ KB

In [110]:
data.cylindernumber = enc.fit_transform(data.cylindernumber)
data.head()

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,0,0,1,0,0,0,88.6,168.8,...,130,0,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,0,0,1,0,0,0,88.6,168.8,...,130,0,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,0,0,1,2,0,0,94.5,171.2,...,152,0,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,0,0,0,3,0,0,99.8,176.6,...,109,0,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,0,0,0,3,1,0,99.4,176.6,...,136,0,3.19,3.40,8.0,115,5500,18,22,17450.0

In [124]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   fueltype          205 non-null    int64
 3   aspiration        205 non-null    int64
 4   doornumber        205 non-null    int32
 5   carbody           205 non-null    int8
 6   drivewheel        205 non-null    int32
 7   enginelocation    205 non-null    int64
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    int32
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    int32
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
dtypes: float64(8), int32(4), int64(11), int8(1), object(1)
memory usage: 35.6+ KB

array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [125]:
data.enginetype.unique()

array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [126]:
data.enginetype = data.enginetype.astype('category')
data.enginetype = data.enginetype.cat.codes

In [128]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   fueltype          205 non-null    int64
 3   aspiration        205 non-null    int64
 4   doornumber        205 non-null    int32
 5   carbody           205 non-null    int8
 6   drivewheel        205 non-null    int32
 7   enginelocation    205 non-null    int64
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          205 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    int8
 14  cylindernumber    205 non-null    int32
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    int32
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  205 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
dtypes: float64(8), int32(4), int64(11), int8(2)
memory usage: 34.2 KB

In [160]:
from sklearn.model_selection import train_test_split


features = data.drop('price', axis=1)
target = data['price']

x_train, x_test, y_train, y_test = train_test_split(features, target, test_size = 0.4, random_state = 380)

In [130]:
x_train

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
192,193,0,1,1,0,3,0,0,100.4,180.2,...,0,97,0,3.01,3.400,23.0,68,4500,33,38
23,24,1,0,1,1,2,0,0,93.7,157.3,...,0,98,0,3.03,3.390,7.6,102,5500,24,30
144,145,0,0,0,0,3,1,0,97.0,172.0,...,0,108,0,3.62,2.640,9.0,82,4800,24,25
35,36,0,0,0,0,3,0,0,96.5,163.4,...,0,92,1,2.91,3.410,9.2,76,6000,30,34
136,137,3,0,1,1,2,0,0,99.1,186.6,...,0,121,0,3.54,3.070,9.0,160,5500,19,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,202,-1,0,1,0,3,0,0,109.1,188.8,...,0,141,0,3.78,3.150,8.7,160,5300,19,25
51,52,1,0,0,1,2,0,0,93.1,159.1,...,0,91,0,3.03,3.150,9.0,68,5000,31,38
18,19,2,0,0,1,2,0,0,88.4,141.1,...,0,61,0,2.91,3.030,9.5,48,5100,47,53
58,59,3,0,0,1,2,0,0,95.3,169.0,...,0,80,0,3.33,3.255,9.4,135,6000,16,23
138,139,2,0,0,1,2,0,0,93.7,156.9,...,0,97,0,3.62,2.360,9.0,69,4900,31,36

In [116]:
y_train

192    13845.0
23      7957.0
144     9233.0
35      7295.0
136    18150.0
        ...
201    19045.0
51      6095.0
18      5151.0
58     15645.0
138     5118.0
Name: price, Length: 123, dtype: float64

In [131]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor()

In [132]:
model.fit(x_train, y_train)

DecisionTreeRegressor()

In [133]:
from sklearn.metrics import r2_score

In [134]:
prediction = model.predict(x_train)

In [137]:
score = r2_score(prediction, y_train)
print(round(score*100, 2))

100.0

In [138]:
x_train.head()

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
192,193,0,1,1,0,3,0,0,100.4,180.2,...,0,97,0,3.01,3.40,23.0,68,4500,33,38
23,24,1,0,1,1,2,0,0,93.7,157.3,...,0,98,0,3.03,3.39,7.6,102,5500,24,30
144,145,0,0,0,0,3,1,0,97.0,172.0,...,0,108,0,3.62,2.64,9.0,82,4800,24,25
35,36,0,0,0,0,3,0,0,96.5,163.4,...,0,92,1,2.91,3.41,9.2,76,6000,30,34
136,137,3,0,1,1,2,0,0,99.1,186.6,...,0,121,0,3.54,3.07,9.0,160,5500,19,26

In [153]:
y_train.head(30)

192    13845.0
23      7957.0
144     9233.0
35      7295.0
136    18150.0
143     9960.0
0      13495.0
116    17950.0
17     36880.0
67     25552.0
165     9298.0
66     18344.0
89      5499.0
42     10345.0
142     7775.0
134    15040.0
145    11259.0
63     10795.0
99      8949.0
21      5572.0
38      9095.0
114    17075.0
59      8845.0
77      6189.0
68     28248.0
84     14489.0
37      7895.0
5      15250.0
186     8495.0
24      6229.0
Name: price, dtype: float64

In [148]:
x_train.to_csv('x_train.csv')

In [149]:
manual_prediction = model.predict([[193,0,1,1,0,3,0,0,100.4,180.2,66.9,55.1,2579,3,0,97,0,3.01,3.4,23.0,68,4500,33,38]])
manual_prediction

C:\Users\HP\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([13845.])

In [151]:
manual_prediction1 = model.predict([[38,0,0,0,1,2,0,0,96.5,167.5,65.2,53.3,2236,3,0,110,1,3.15,3.58,9.0,86,5800,27,33]])
manual_prediction1

C:\Users\HP\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([7895.])

In [161]:
test_pred = model.predict(x_test)
test_score = r2_score(test_pred, y_test)

print('Model Score on Training Data: ', round(score*100, 2))
print('Model Score on Test Data: ', round(test_score*100, 2))

Model Score on Training Data:  100.0
Model Score on Test Data:  87.43